{% extends "_base.html" %}

{% load static %}
{% load i18n %}

{% load madval_persian_translation %}
{% load madval_get_items_count %}

{% block page_title %}
{% trans "Product List" %}
{% endblock page_title %}

{% block extra_css %}
<link href="{% static 'madval/css/my_fonts.css' %}" rel="stylesheet">
<link href="{% static 'madval/css/my_hovers.css' %}" rel="stylesheet">
{% endblock extra_css %}

{% block content %}
<div class="container card shadow-lg mt-5" style="padding-left: 2em; padding-right:0;">
    <div dir='rtl' class="container p-5">
        <p class="d-inline"><img src="{% static 'madval/img/sort.png' %}" alt="">مرتب سازی:</p>
        <a href="?sort-by=recommendation&searched_text={{ searched_text }}&title={{ title }}&description={{ description }}&ingredients={{ ingredients }}&min_price={{ min_price }}&max_price={{ max_price }}" class="btn d {% if active_page == 'recommendation' or active_page == None %}text-primary{% endif %}">پیشنهاد خریداران</a>
        <a href="?sort-by=newest&searched_text={{ searched_text }}&title={{ title }}&description={{ description }}&ingredients={{ ingredients }}&min_price={{ min_price }}&max_price={{ max_price }}" class="btn d {% if active_page == 'newest' %}text-primary{% endif %}">جدیدترین</a>
        <a href="?sort-by=cheapest&searched_text={{ searched_text }}&title={{ title }}&description={{ description }}&ingredients={{ ingredients }}&min_price={{ min_price }}&max_price={{ max_price }}" class="btn d {% if active_page == 'cheapest' %}text-primary{% endif %}">ارزان ترین</a>
        <a href="?sort-by=most_expensive&searched_text={{ searched_text }}&title={{ title }}&description={{ description }}&ingredients={{ ingredients }}&min_price={{ min_price }}&max_price={{ max_price }}" class="btn d {% if active_page == 'most_expensive' %}text-primary{% endif %}">گران ترین</a>
        <a href="?sort-by=more_durable&searched_text={{ searched_text }}&title={{ title }}&description={{ description }}&ingredients={{ ingredients }}&min_price={{ min_price }}&max_price={{ max_price }}" class="btn d {% if active_page == 'more_durable' %}text-primary{% endif %}">ماندگاری بیشتر</a>
        <a href="?sort-by=fastest&searched_text={{ searched_text }}&title={{ title }}&description={{ description }}&ingredients={{ ingredients }}&min_price={{ min_price }}&max_price={{ max_price }}" class="btn d {% if active_page == 'fastest' %}text-primary{% endif %}">مدت زمان آماده سازی کمتر</a>        
        <hr>
    </div>
    {% for product in page_obj %}
    <div class="row gx-5 my-2 mb-4 d-flex justify-content-evenly" id="product-{{product.id}}">
        <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 400px; position: relative;">
            <div class="em1-4 rounded-pill px-2 py-1" style="position: absolute; bottom: 8px; right: 32px; z-index: 2; background-color: white;">
                <i class="fa fa-shopping-basket em0-8" aria-hidden="true"></i> {{ product|how_many_is_in_cart:cart|pn}}
            </div>
            {% if product.average_stars %}
            <div class="em1-4 rounded-pill px-2 py-1" style="position: absolute; top: 8px; right: 32px; z-index: 2; background-color: white;">
                <span>{{ product.average_stars|floatformat|cspn }}</span> <i class="fa fa-star em0-8" style="color: orange;" aria-hidden="true"></i>
            </div>
            {% endif %}
            <div class="position-relative h-100" style="position: absolute; left:0; top:0; bottom: 0; right: 0; z-index: 1;">
                {% if product.main_image %}
                    <img class="position-absolute w-100 h-100" src="{{ product.main_image.url }}" style="object-fit: cover;">
                {% else %}
                    <img class="position-absolute w-100 h-100" src="{% static 'madval/img/no_image.png' %}" style="object-fit: cover;">
                {% endif %}
            </div>
        </div>
        <div class="col-lg-6 pb-5">
            <h4 dir="rtl" class="mb-4">{{ product.title }}</h4>
            <p dir="rtl" style="text-align: justify;" class="d em2"> قیمت: {{ product.price_toman|cspn }} تومان </p>
            <p dir="rtl" style="text-align: justify;" class="d em1-6"> وزن: {{ product.weight }} کیلوگرم </p>
            <p dir="rtl" style="text-align: justify;" class="mb-5"> {{ product.extra_information|truncatewords:100 }} </p>
            <p dir="ltr" class="pt-5">
                <form style="display: inline;" action="{% url 'cart:cart_add' product.id %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="current_page" value="{{ request.build_absolute_uri }}"> 
                    <input type="hidden" name="next_page" value="product-{{product.id}}">
                    <label for="quantity"></label>
                    <input type="number" name="quantity" min="1" max="30" required class="text-center" placeholder="تعداد" value="1">
                    <button type="submit" class="btn btn-outline-warning rounded-pill mx-3">افزودن به سبد خرید</button>
                </form>
                <a href="{{ product.get_absolute_url }}" class="btn btn-outline-info rounded-pill px-4">اطلاعات بیشتر</a>
            </p>
        </div>
    </div>
    {% if not forloop.last or page_obj.has_other_pages %}
        <hr class="mx-5">
    {% endif %}
    {% endfor %}

    {% if page_obj.paginator.num_pages > 1 %}
    <nav dir="rtl" aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if page_obj.number|add:'-3' > 1 %}
                    <li class="page-item mx-1"><a class="page-link madval-rounded-right" href="?page=1&sort-by={{ active_page }}&searched_text={{ searched_text }}&title={{ title }}&description={{ description }}&ingredients={{ ingredients }}&min_price={{ min_price }}&max_price={{ max_price }}">1</a></li>
                {% if page_obj.number|add:'-4' != 1 %}
                    <li class="page-item mx-1"><a class="page-link" href="?page={{ page_obj.number|add:'-4' }}&sort-by={{ active_page }}&searched_text={{ searched_text }}&title={{ title }}&description={{ description }}&ingredients={{ ingredients }}&min_price={{ min_price }}&max_price={{ max_price }}">&hellip;</a></li>
                {% endif %}
            {% endif %}
            {% for i in page_obj.paginator.page_range %}
                {% if page_obj.number == i %}
                    {% if i == 1 %}
                        <li style="transform: scale(1.08);" class="page-item shadow mx-2 mb madval-rounded-right"><span class="page-link bg-success text-white madval-rounded-right">{{ i }} <span class="sr-only"></span></span></li>
                    {% elif i == page_obj.paginator.num_pages %}
                        <li style="transform: scale(1.08);" class="page-item shadow mx-2 mb madval-rounded-left"><span class="page-link bg-success text-white madval-rounded-left">{{ i }} <span class="sr-only"></span></span></li>
                    {% else %}
                        <li style="transform: scale(1.08);" class="page-item shadow mx-2 mb"><span class="page-link bg-success text-white">{{ i }} <span class="sr-only"></span></span></li>
                    {% endif %}
                {% elif i > page_obj.number|add:'-4' and i < page_obj.number|add:'4' %}
                    {% if i == 1 %}
                        <li class="page-item mx-1"><a class="page-link madval-rounded-right" href="?page={{ i }}&sort-by={{ active_page }}&searched_text={{ searched_text }}&title={{ title }}&description={{ description }}&ingredients={{ ingredients }}&min_price={{ min_price }}&max_price={{ max_price }}">{{ i }}</a></li>
                    {% elif i == page_obj.paginator.num_pages %}
                        <li class="page-item mx-1"><a class="page-link madval-rounded-left" href="?page={{ i }}&sort-by={{ active_page }}&searched_text={{ searched_text }}&title={{ title }}&description={{ description }}&ingredients={{ ingredients }}&min_price={{ min_price }}&max_price={{ max_price }}">{{ i }}</a></li>
                    {% else %}
                        <li class="page-item mx-1"><a class="page-link" href="?page={{ i }}&sort-by={{ active_page }}&searched_text={{ searched_text }}&title={{ title }}&description={{ description }}&ingredients={{ ingredients }}&min_price={{ min_price }}&max_price={{ max_price }}">{{ i }}</a></li>
                    {% endif %}
                {% endif %}
            {% endfor %}
            {% if page_obj.paginator.num_pages > page_obj.number|add:'3' %}
                {% if page_obj.number|add:'4' != page_obj.paginator.num_pages %}
                    <li class="page-item mx-1"><a class="page-link" href="?page={{ page_obj.number|add:'4' }}&sort-by={{ active_page }}&searched_text={{ searched_text }}&title={{ title }}&description={{ description }}&ingredients={{ ingredients }}&min_price={{ min_price }}&max_price={{ max_price }}">&hellip;</a></li>
                {% endif %}
                    <li class="page-item mx-1"><a class="page-link madval-rounded-left" href="?page={{page_obj.paginator.num_pages}}&sort-by={{ active_page }}&searched_text={{ searched_text }}&title={{ title }}&description={{ description }}&ingredients={{ ingredients }}&min_price={{ min_price }}&max_price={{ max_price }}">{{page_obj.paginator.num_pages}}</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

{% endblock content %}


{% block active_products %}active{% endblock active_products %}
