{% extends "_base.html" %}

{% load static %}
{% load i18n %}

{% block content %}
<!-- Team Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="section-title position-relative text-center mx-auto mb-5 pb-3" style="max-width: 600px;">
            <h2 class="text-primary font-secondary {% if LANGUAGE_CODE == 'fa' %}d{% endif %}">{% trans "Team Members" %}</h2>
            <h1 class="display-4 text-uppercase {% if LANGUAGE_CODE == 'fa' %}d{% endif %}">{% trans "Our Master Chefs" %}</h1>
        </div>
        <div dir='rtl' class="row g-5 container shadow p-5">
            {% for chef in chefs %}
            <div class="row">
                <div class="col-12 col-lg-4 my-2">
                    <img class="img-fluid w-100 rounded-circle" src="{{ chef.image.url }}" alt="">
                </div>
                <div class="col-12 col-lg-8 my-2 mt-4 pt-2">
                    <h2 class="d">نام: {{ chef.name }} </h2>
                    <h3 class="d text-muted">تخصص: {{ chef.talent }}</h3>
                    {% if chef.description %}
                    <br>
                    <p style="text-align: justify;" class="c em1-2"><span class="text-primary em1-4">من را بیشتر بشناسید: </span>این متن لورم ایپسوم توسط محمد پورمحدی فلاح نوشته شده است.<br>{{ chef.description }}</br>
                    {% endif %}
                </div>
            </div>
            <div class="d-flex align-items-center justify-content-start">
                {% if chef.email %}<a class="btn btn-lg btn-primary btn-lg-square border-inner rounded-0 mx-1" href="mailto:{{ chef.email }}" target="_blank"><i class="fa fa-envelope"></i></a>{% endif %}
                {% if chef.twitter %}<a class="btn btn-lg btn-primary btn-lg-square border-inner rounded-0 mx-1" href="{{ chef.twitter }}" target="_blank"><i class="fab fa-twitter fw-normal"></i></a>{% endif %}
                {% if chef.facebook %}<a class="btn btn-lg btn-primary btn-lg-square border-inner rounded-0 mx-1" href="{{ chef.facebook }}" target="_blank"><i class="fab fa-facebook-f fw-normal"></i></a>{% endif %}
                {% if chef.linkedin %}<a class="btn btn-lg btn-primary btn-lg-square border-inner rounded-0 mx-1" href="{{ chef.linkedin }}" target="_blank"><i class="fab fa-linkedin-in fw-normal"></i></a>{% endif %}
                {% if chef.instagram %}<a class="btn btn-lg btn-primary btn-lg-square border-inner rounded-0 mx-1" href="{{ chef.instagram }}" target="_blank"><i class="fab fa-instagram fw-normal"></i></a>{% endif %}
            </div>
            {% if not forloop.last %}
                <hr class="mx-5">
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
<!-- Team End -->
{% endblock content %}


{% block active_chefs %}active{% endblock active_chefs %}
