##################################### Django #####################################
DJANGO_SECRET_KEY=django-insecure--aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
DJANGO_DEBUG=True
##################################### End Django #####################################


##################################### Database #####################################
DJANGO_DATABASE_NAME=confectionery
DJANGO_DATABASE_USERNAME=root
DJANGO_DATABASE_PASSWORD=root
##################################### End Database #####################################


##################################### Sending Email #####################################
DJANGO_EMAIL_ADDRESS=shookooljooni254@gmail.com
DJANGO_EMAIL_APP_PASSWORD=0000000000000000
##################################### End Sending Email #####################################


##################################### Login with Google #####################################
GOOGLE_CLIENT_ID = your_google_client_id_here
GOOGLE_CLIENT_SECRET = your_google_client_secret_here
# https://console.cloud.google.com/apis/dashboard?project=confectionery-2
##################################### End Login with Google #####################################


##################################### Login with github #####################################
GITHUB_CLIENT_ID = your_github_client_id_here
GITHUB_CLIENT_SECRET = your_github_client_secret_here
# https://github.com/settings/applications/2650321
# https://github.com/settings/developers
##################################### End Login with github #####################################


##################################### Login with LinkedIn #####################################
LINKED_IN_CLIENT_ID = your_linked_in_client_id_here
LINKED_IN_CLIENT_SECRET = your_linked_in_client_secret_here
# https://www.linkedin.com/developers/apps?appStatus=active
##################################### End Login with LinkedIn #####################################


##################################### Sending SMS #####################################
GHASEDAK_API_KEY=0000000000000000000000000000000000000000000000000000000000000000
MY_REGISTERED_NUMBER_ON_GHASEDAK=09356640204
MY_LINE_NUMBER_ON_GHASEDAK_1=30000000000000
MY_LINE_NUMBER_ON_GHASEDAK_2=30000000000000
MY_TEMPLATE_NAME_IN_GHASEDAK_ME_SITE=codefather
MY_TEMPLATE_NAME_IN_GHASEDAK_ME_SITE_TO_CHANGE_OTP_NUMBER=codefather2
##################################### End Sending SMS #####################################


##################################### Zarinpal #####################################
ZARINPAL_MERCHANT_ID_FAKE = 00000000-0000-0000-0000-000000000000 # ۳۶ تا کاراکتر الکی
##################################### End Zarinpal #####################################


##################################### Zibal #####################################
ZIBAL_MERCHANT_ID = zibal # نوشته بود برای تست از زیبال استفاده کنید.
ZIBAL_MERCHANT_ID = 000000000000000000000000 # نوشته بود برای تست از زیبال استفاده کنید.
##################################### End Zibal #####################################
