Options -Indexes -ExecCGI

RemoveHandler .php .phtml .php3 .php4 .php5 .phar
RemoveHandler .py .pl .cgi .asp .jsp .sh

RemoveType .php .phtml .php3 .php4 .php5 .phar
RemoveType .py .pl .cgi .asp .jsp .sh
# این فایل برای سرور پارس وب سرور بود.
# وقتی فایل های مدیا رو به پابلیک اچ تی ام ال منتقل کردم
# از هوش مصنوعی پرسیدم مشکل امنیتی نداره؟
# گفت که اضافه کردن این فایل به تنهایی ۹۹ درصد حملات رو خنثی میکنه.
# این رو روی سرور داخل پوشه پابلیک اچ تی ام ال داشتم اشتباهی میذاشتم
# که بهم میگفت همچین فایلی وجود داره میخوای ریپلیسش کنی؟
# که یعنی خودشون خیلی از چیزها رو گذاشتن.
# اما مدیا رو خودم چون اضافه کردم. برای اطمینان بیشتر داخل پوشه مدیا
# رفتم و اونجا هم این رو گذاشتم.
# دقت کنم که چون با . شروع میشه، فایل هیدن هست و دیده نمیشه.
# نکته خیلی مهم. حتما یادم باشه سطح دسترسی ها رو تو پوشه ای که اضافه
# کردم 755 بذارم که نتونن چیزی رو اجرا کنن بقیه
# یو آی که اوکی هست. اگه با دستور ترمینال خواستم
# chmod -R 755 public_html/media
# که این دستور رو از تو همون جایی که ال اس زدم و پابلیک اچ تی ام ال رو میدیدم زدم.
# قبلش هم 755 بود. اما برای اطمینان حتما در سرور جدید هم بررسی بشه که 755 باشه.
