{% extends "_base.html" %}

{% load i18n %}

{% load crispy_forms_tags %}

{% block page_title %}
{% trans "Change Username" %}
{% endblock page_title %}

{% block content %}
<div class='container shadow mt-5 p-5' style="direction: rtl">
<h1 class="mb-5 d">صفحه تغییر آدرس ایمیل</h1>
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" class="btn btn-outline-success m-2 rounded-pill px-4" value="ذخیره">
</form>
</div>
{% endblock content %}


{% block active_profile %}active{% endblock active_profile %}