{% extends "_base.html" %}

{% load i18n %}

{% load crispy_forms_tags %}

{% load madval_persian_translation %}

{% block page_title %}
{% trans "Change Username" %}
{% endblock page_title %}

{% block content %}
<div class='container shadow mt-5 p-5' style="direction: rtl">
<h1 class="mb-5 d">صفحه تغییر شماره ارسال یکباررمز (OTP)</h1>
<form action="{% url 'verify_otp_phone_number_for_change' %}" method="get" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" class="btn btn-outline-success m-2 rounded-pill px-4" value="ارسال یکبار رمز">
</form>
</div>
{% endblock content %}
