{% extends "_base.html" %}

{% load static %}

{% load i18n %}

{% load crispy_forms_tags %}

{% load madval_persian_translation %}

{% block page_title %}
ورود با شماره موبایل
{% endblock page_title %}

{% block extra_css %}
<link href="{% static 'madval/css/style_login.css' %}" rel="stylesheet">
{% endblock extra_css %}

{% block content %}
<div class='container mt-5' style="direction: rtl">
    {% if username %}
    <h1 class="d-flex justify-content-center my-5 pt-5 c text-success em3 text-center">
        سلام {{ username.user.get_name|pn }}. از این که دوباره به سایتمون سر زدی خیلی خوشحالیم
        <br>
        لطفا کد ارسالی به شماره {{ phone_number|pn }} را وارد کن
    </h1>
    {% else %}
    <h1 class="d-flex justify-content-center my-5 pt-5 c text-primary em3 text-center">لطفا کد ارسالی به شماره {{ phone_number|pn }} را وارد کنید</h1>
    {% endif %}
    <div class="d-flex justify-content-center">
        <form action="{% url 'login_with_phone_number' %}" method="post" name="myFormForOTP" onsubmit="return validateForm()" class="d-inline mx-2">
            {% csrf_token %}
            <input type="hidden" name="phone_number" value="{{ phone_number }}">
            <input type="text" class="btn m-2 rounded-pill border border-success" name="otp">
            <button type="submit" class="btn btn-outline-success m-2 rounded-pill px-5">وارد شو</button>
        </form>
    </div>
    <div dir="ltr" class="d-flex justify-content-center mt-5">
        <div class="progress rounded-pill w-75">
            <div id="madval-timer" class="bg-success progress-bar progress-bar-striped progress-bar-animated rounded-pill" role="progressbar" aria-valuenow="120" aria-valuemin="0" aria-valuemax="120" style="width: 100%">120s</div>
        </div>
    </div>
</div>
<script>
    function validateForm() {
      var x = document.forms["myFormForOTP"]["otp"].value;
      if (x == "" || x == null) {
        alert("لطفا کد ارسالی به موبایل خود را وارد کنید!");
        return false;
      }
    }

    var startTime = Date.now();
    var duration = 120000; // 120 seconds in milliseconds

    function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }

    async function timer() {
        var p_bar = document.getElementById("madval-timer");
        while (true) {
            var elapsed = Date.now() - startTime;
            var remainingTime = Math.max(0, duration - elapsed);
            var time = remainingTime / 1000; // Convert to seconds

            p_bar.style.width = (time / 120) * 100 + "%";
            p_bar.innerHTML = Math.round(remainingTime/1000) + "s";

            if (time > 80) {
                p_bar.classList.add("bg-success");
                p_bar.classList.remove("bg-info", "bg-warning", "bg-danger");
            } else if (time > 40) {
                p_bar.classList.add("bg-info");
                p_bar.classList.remove("bg-success", "bg-warning", "bg-danger");
            } else if (time > 10) {
                p_bar.classList.add("bg-warning");
                p_bar.classList.remove("bg-success", "bg-info", "bg-danger");
            } else {
                p_bar.classList.add("bg-danger");
                p_bar.classList.remove("bg-success", "bg-info", "bg-warning");
            }
            if (remainingTime <= 0) {
                break;
            }
            await sleep(100);
        }
        await sleep(1000);
        document.location.href = "{% url 'account_login' %}";
    }
    timer();
</script>
{% endblock content %}


{% block active_profile %}active{% endblock active_profile %}