{% extends "_base.html" %}

{% load static %}

{% load i18n %}

{% load crispy_forms_tags %}

{% load madval_persian_translation %}

{% block page_title %}
تغییر اطلاعات ثبت نامی
{% endblock page_title %}

{% block extra_css %}
<link href="{% static 'madval/css/style_login.css' %}" rel="stylesheet">
{% endblock extra_css %}

{% block content %}
<div class='container mt-5' style="direction: rtl">
    <h1 class="d-flex justify-content-center my-5 pt-5 c text-success em3 text-center">
        سلام {{ user|pn }}! از این که عضو خانواده ما شدی ازت ممنونیم. اگه چند دقیقه وقت بذاری و اطلاعات زیر رو کامل کنی خوشحالمون میکنی. اگه دوست نداشتی هم به وقتت احترام میذاریم. موفق باشی.
    </h1>
    <div class="d-flex justify-content-center">
        <form action="{% url 'register_with_phone_number' %}" method="post" class="mx-2" name="register_form">
            {% csrf_token %}
            <input type="hidden" name="phone_number" value="{{phone_number}}">
            <table>
                <tr>
                    <td><label for="username">نام کاربری</label></td>
                    <td><input type="text" class="btn m-2 rounded-pill px-4 border border-success" name="username" maxlength="150" required></td>
                </tr>
                <tr>
                    <td><label for="email">آدرس ایمیل</label></td>
                    <td><input type="email" class="btn m-2 rounded-pill px-4 border border-success" name="email" maxlength="150" placeholder="example@gmail.com" required></td>
                </tr>
                <tr>
                    <td><label for="password">رمز عبور</label></td>
                    <td><input type="password" class="btn m-2 rounded-pill px-4 border border-success" name="password" maxlength="150" required></td>
                </tr>
                <tr>
                    <td></td>
                    <td><button type="submit" class="btn btn-outline-success m-2 rounded-pill px-5">بروز رسانی کن</button></td>
                </tr>
            </table>
        </form>
    </div>
    <div class="d-flex justify-content-center">
        <form action="{% url 'register_with_phone_number' %}" method="post" name="verify_form">
            {% csrf_token %}
            <label for="verified">بدون نام کاربری و ایمیل اطلاعات مرا ذخیره کن. بعدا اطلاعاتم را پر خواهم کرد</label>
            <input type="hidden" name="username" value="{{ user }}">
            <input type="checkbox" name="verified" value="1">
            <button type="submit" class="btn btn-outline-success m-2 rounded-pill px-4">مطمئنم</button>
        </form>
    </div>
</div>
{% endblock content %}
