{% load static %}

<html lang="en"><head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>زارت 😁</title>
        <link rel="stylesheet" type="text/css" href="{% static 'netcopy/css/bootstrap.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'netcopy/css/error-page.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'netcopy/css/error-page-responsive.css' %}">
    </head>
    <body>
            <div class="loader-wrapper" id="loader-wrapper" style="display: none;">
            <div class="loader"></div>
        </div>
       
        <section class="page-section">
            <div class="full-width-screen">
                <div class="container-fluid p-0">
                <div class="particles-bg" id="particles-js">
                    <div class="content-detail">
                        <h1 class="global-title"><span>4</span><span>0</span><span>3</span></h1>
    
                        <h4 dir='rtl' class="sub-title">متاسفیم!</h4>
    
                        <p dir='rtl' class="detail-text">شما به این صفحه دسترسی ندارید!</p> 
    
                        <div class="back-btn">
                            <a href="{% url 'homepage' %}" class="btn">برگشت به صفحه اول سایت</a>
                        </div>
                        <p dir='rtl' style="color: white; position: fixed; z-index: 1000; bottom:0;">
                            تمامی کدهای مربوط به صفحه ارور ۴۰۳ از سایت <span style="color: yellow;">نت کپی</span> گرفته شده است. برای دسترسی به کدهای بیشتر، به آدرس <a href="https://netcopy.ir/" style="color: yellow">netcopy.ir</a> مراجعه نمایید.
                        </p>
                        </div><canvas class="particles-js-canvas-el" style="width: 100%; height: 100%;" width="1920" height="955"></canvas></div>
                </div>
            </div>
        </section>
        <script src="{% static 'netcopy/js/jquery-3.js' %}"></script>
        <script src="{% static 'netcopy/js/particles.js' %}"></script>
        <script src="{% static 'netcopy/js/app.js' %}"></script>
        <script src="{% static 'netcopy/js/script.js' %}"></script>  
    <noscript><i>Javascript required</i></noscript>
    </body>
</html>