{% load static %}

{% load i18n %}

{% load madval_check_english %}
{% load madval_persian_translation %}

{% get_current_language as LANGUAGE_CODE %} 
{% comment %}
این رو گرفتم که تو سایت بر اساس زبان بعضی کار ها رو انجام بدم.
چون تو بیس هست، پس همه جا بهش دسترسی دارم. متغیر
LANGUAGE_CODE
اگه زبان فارسی باشه، میشه
fa
و اگه انگلیسی باشه، میشه
en-us
لینک استک اورفلو. البته تو جوابهای آخر پیداش کرده بودم. اولیا مال ویوز بود.
https://stackoverflow.com/questions/3356964/how-to-get-the-current-language-in-django
{% endcomment %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{% block page_title %}{% endblock page_title %}</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="{% static 'img/logo.ico' %}" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Oswald:wght@500;600;700&family=Pacifico&display=swap" rel="stylesheet"> 

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Libraries Stylesheet -->
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <link href="{% static 'madval/css/uiverse.css' %}" rel="stylesheet">
    
    <link href="{% static 'madval/css/my_fonts.css' %}" rel="stylesheet">
    <link href="{% static 'madval/css/my_messages.css' %}" rel="stylesheet">

    {% block extra_css %}{% endblock extra_css %}

</head>

<body {% if LANGUAGE_CODE == 'fa' %}style="font-family: calibri;"{% endif %}>
    {% if messages %}
    <div id="madval-messages" class="madval-messages">
        <i class="fa fa-window-close mx-2" aria-hidden="true" onclick="close_messages()"></i>
        {% for message in messages %}
            <div class="alert alert-{{message.tags}}">{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}
    <!-- Topbar Start -->
    <div class="container-fluid px-0 d-none d-lg-block">
        <div class="row gx-0">
            <div class="col-lg-4 text-center bg-secondary py-3">
                <div class="d-inline-flex align-items-center justify-content-center">
                    {% if user.is_authenticated %}
                    <div class="text-end mt-3">
                        {% if user.get_name|has_english_letter %}
                            <a href="{% url 'logout_confirm' %}">
                                <span class="align-middle">خروج</span>
                            </a>
                            <span class="align-middle">| {{ user.get_name }} خوش آمدی</span>
                        {% else %}
                            <span class="align-middle"> خوش آمدی {{ user.get_name }} |</span>
                            <a href="{% url 'logout_confirm' %}">
                                <span class="align-middle">خروج</span>
                            </a>
                        {% endif %}
                        {% if user.profile_picture %}
                        <img style="border-radius: 50%;" src="{{ user.profile_picture.image.url }}" width="32" height="32">
                        {% endif %}
                    </div>
                    {% else %}
                    <div class="text-end mt-2">
                        <i class="fa fa-sign-in align-middle" style="font-size:36px;"></i>
                        <a href="{% url 'account_signup' %}">
                            <span class="align-middle">ثبت نام</span>
                        </a>
                        <span class="align-middle">|</span>
                        <a href="{% url 'account_login' %}">
                            <span class="align-middle">ورود</span>
                        </a>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-4 text-center bg-primary border-inner py-3">
                <div class="d-inline-flex align-items-center justify-content-center">
                    <a href="{% url 'homepage' %}" class="navbar-brand">
                        <h1 class="m-0 text-uppercase text-white"><i class="fa fa-birthday-cake fs-1 text-dark me-3"></i>Motamed</h1>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 text-center bg-secondary py-3">
                <div class="d-inline-flex align-items-center justify-content-center">
                    <div class="text-start">
                        <h6 style="text-align: right;" class="text-uppercase mb-1">تماس با ما</h6>
                        <span>+98 935 664 0204</span>
                    </div>
                    <i class="bi bi-phone-vibrate fs-1 text-primary mx-3"></i>
                </div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->


    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark shadow-sm py-3 py-lg-0 px-3 px-lg-0">
        <div class="text-end mt-2 navbar-brand d-block d-lg-none">
            {% if user.is_authenticated %}
                {% if user.get_name|has_english_letter %}
                <a href="{% url 'logout_confirm' %}">
                    <span class="align-middle">خروج</span>
                </a>
                <span class="align-middle">| {{ user.get_name }} خوش آمدی</span>
                {% else %}
                    <span class="align-middle"> خوش آمدی {{ user.get_name }} |</span>
                    <a href="{% url 'logout_confirm' %}">
                        <span class="align-middle">خروج</span>
                    </a>
                {% endif %}
                {% if user.profile_picture %}
                <img style="border-radius: 50%;" src="{{ user.profile_picture.image.url }}" width="32" height="32">
                {% endif %}
            {% else %}
                <i class="fa fa-sign-in align-middle" style="font-size:28px;"></i>
                <a href="{% url 'account_signup' %}">
                    <span class="align-middle">ثبت نام</span>
                </a>
                <span class="align-middle">|</span>
                <a href="{% url 'account_login' %}">
                    <span class="align-middle">ورود</span>
                </a>
            {% endif %}
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto mx-lg-auto py-0">
                
                <div class="nav-item dropdown {% block active_profile %}{% endblock active_profile %}">
                    <a href="#" class="nav-link dropdown" data-bs-toggle="dropdown">
                        {% if user.profile_picture %}
                            <img style="border-radius: 50%;" src="{{ user.profile_picture.image.url }}" width="32" height="32">
                        {% else %}
                            <i class="fas fa-user"></i>
                        {% endif %}
                    </a>
                    <div class="dropdown-menu m-0">
                        <a dir='rtl' href="{% url 'account_login' %}"><span class="dropdown-item text-right">ورود<i class="fa fa-sign-in align-middle me-2" style="font-size:36px;"></i></span></a>
                        <hr>
                        <a dir='rtl' href="{% url 'change_username' %}"><span class="dropdown-item text-right">تغییر نام کاربری</span></a>
                        <a dir='rtl' href="{% url 'change_email' %}"><span class="dropdown-item text-right">تغییر آدرس ایمیل</span></a>
                        <a dir='rtl' href="{% url 'change_otp_number' %}"><span class="dropdown-item text-right">تغییر شماره یکباررمز (OTP)</span></a>
                        <a dir='rtl' href="{% url 'account_change_password' %}"><span class="dropdown-item text-right">تغییر رمز عبور</span></a>
                        <a dir='rtl' href="{% url 'change_profile' %}"><span class="dropdown-item text-right">تغییر عکس و مشخصات کاربری</span></a>
                        <hr>
                        <a dir='rtl' href="{% url 'madval_logout' %}"><span class="dropdown-item text-right text-danger"><i class="fa fa-sign-out align-middle mx-1" style="font-size:36px;"></i> خروج مستقیم (بدون نیاز به تایید)</span></a>
                    </div>
                </div>
                <a href="{% url 'contact_us' %}" class="nav-item nav-link {% block active_contact_us %}{% endblock active_contact_us %}">تماس با ما</a>
                <a href="{% url 'about_us' %}" class="nav-item nav-link {% block active_about_us %}{% endblock active_about_us %}">درباره ما</a>
                <a href="{% url 'about_me' %}" class="nav-item nav-link {% block active_about_me %}{% endblock active_about_me %}">درباره من</a>
                <a href="{% url 'chefs' %}" class="nav-item nav-link {% block active_chefs %}{% endblock active_chefs %}">سرآشپز ها</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle {% block active_products %}{% endblock active_products %}" data-bs-toggle="dropdown">محصولات</a>
                    <div class="dropdown-menu m-0">
                        <a dir='rtl' href="{% url 'categories' 'cake' %}" class="dropdown-item text-right">کیک ها</a>
                        <a dir='rtl' href="{% url 'categories' 'pastry' %}" class="dropdown-item text-right">شیرینی ها</a>
                        <a dir='rtl' href="{% url 'categories' 'bread' %}" class="dropdown-item text-right">نان ها</a>
                        <a dir='rtl' href="{% url 'all_products' %}" class="dropdown-item text-right">تمام محصولات</a>
                        <hr>
                        <a dir='rtl' href="{% url 'my_favorites' %}"><span class="dropdown-item text-right">🧡 لیست علاقه مندی های من</span></a>
                        <a dir='rtl' href="{% url 'my_orders' %}"><span class="dropdown-item text-right">لیست سفارش های من</span></a>
                    </div>
                </div>
                <a href="{% url 'homepage' %}" class="nav-item nav-link {% block active_home %}{% endblock active_home %}">خانه</a>
                <div class="" style="position: relative;">
                    <a class="nav-item nav-link {% block active_cart %}{% endblock active_cart %}" style="position: absolute; top: 0; left: 0; z-index: 1;" href="{% url 'cart:cart_detail' %}"><i class="fas fa-shopping-cart"></i></a>
                    {% if cart|length %}
                        <div class="d-flex justify-content-center align-items-center rounded-circle" style="position: absolute; bottom: 24px; left: 28px; border: 1px solid white; color: white; background-color: green; font-size: 1.25em; z-index: 2; width: 24px; height: 24px;">{{ cart|length|pn }}</div>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
    <!-- Navbar End -->

    {% block content %}{% endblock content %}

    <!-- Footer Start -->
    <div class="container-fluid bg-img text-secondary" style="margin-top: 135px">
        <div class="container">
            <div class="row gx-5">
                <div class="col-lg-4 col-md-6 mt-lg-n5">
                    <div class="d-flex flex-column align-items-center justify-content-center text-center h-100 bg-primary border-inner p-4">
                        <a href="{% url 'homepage' %}" class="navbar-brand">
                            <h1 class="m-0 text-uppercase text-white"><i class="fa fa-birthday-cake fs-1 text-dark me-3"></i>Motamed</h1>
                        </a>
                        <p dir='rtl' style="text-align: justify;" class="mt-3">متن لورم ایپسوم ساختگی توسط خودم. امیدوارم از خواندن آن لذت ببرید. شیرینی سرای معتمد، یک فروشگاه آنلاین کیک و شیرینی و نان است که به منظور ارائه خدمات آنلاین به مشتریان، عرضه شده است. این پروژه، یک پروژه آزمایشی ساخت محمد پورمحمدی فلاح است که برای همسرش که عاشق پختن کیک و شیرینی است طراحی شده و کاربران می توانند در خبرنامه عضو شوند تا از آخرین اخبار اطلاع یابند. از کیک و شیرینی های مختلف دیدن کنند و قیمت ها را مقایسه کنند. همچنین در صورت علاقه می توانند سبد خرید خود را پر کرده و در صورت علاقه، آنلاین کیک و شیرینی سفارش دهند و در زمان مناسب آنها را تحویل بگیرند. البته قرار است به زودی API ای نیز برای این پروژه طراحی شود که پروژه حرفه ای تر باشد. با تشکر. شیرینی سرای معتمد.</p>
                    </div>
                </div>
                <div class="col-lg-8 col-md-6">
                    <div dir="rtl" class="row gx-5">
                        <div class="col-lg-4 col-md-12 pt-5 mb-5">
                            <h4 class="text-primary text-uppercase mb-4">با ما در تماس باشید</h4>
                            <div class="d-flex mb-2">
                                <i class="bi bi-geo-alt text-primary me-2"></i>
                                <p class="mb-0 px-1">رشت - گلسار - خیابان ۹۸ - بعد از پمپ بنزین - شیرینی سرای معتمد</p>
                            </div>
                            <div class="d-flex mb-2">
                                <i class="bi bi-envelope-open text-primary me-2"></i>
                                <p class="mb-0 px-1">mohammad.pfallah@gmail.com</p>
                            </div>
                            <div class="d-flex mb-2">
                                <i class="bi bi-telephone text-primary me-2"></i>
                                <p dir="ltr" class="mb-0 px-1">0935 664 0204</p>
                            </div>
                            <h4 class="text-primary text-uppercase mb-4">شبکه های اجتماعی</h4>
                            <div class="d-flex mt-4">
                                {% include "uiverse.html" %}
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12 pt-0 pt-lg-5 mb-5">
                            <h4 class="text-primary text-uppercase mb-4">لینک ها</h4>
                            <div class="d-flex flex-column justify-content-start">
                                <a class="text-secondary mb-2" href="{% url 'homepage' %}"><i class="bi bi-arrow-right text-primary mx-2"></i>خانه</a>
                                <a class="text-secondary mb-2" href="{% url 'chefs' %}"><i class="bi bi-arrow-right text-primary mx-2"></i>سرآشپز ها</a>
                                <a class="text-secondary mb-2" href="{% url 'about_me' %}"><i class="bi bi-arrow-right text-primary mx-2"></i>درباره من</a>
                                <a class="text-secondary mb-2" href="{% url 'about_us' %}"><i class="bi bi-arrow-right text-primary mx-2"></i>درباره ما</a>
                                <a class="text-secondary mb-2" href="{% url 'contact_us' %}"><i class="bi bi-arrow-right text-primary mx-2"></i>تماس با ما</a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12 pt-0 pt-lg-5 mb-5">
                            <h4 class="text-primary text-uppercase mb-4">اشتراک در خبرنامه</h4>
                            <p>جهت مطلع شدن از آخرین اخبار مربوط به شیرینی سرای متعمد، آدرس ایمیل خود را وارد نمایید.</p>
                            <form action="{% url "homepage" %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="next_page" value="{{ request.build_absolute_uri }}"> 
                                {% comment %} داخل رکوئست خیلی چیزا هست. حالا اگه تابع بیلد ابسلوت یو آر آی ش رو صدا کنیم، آدرس دقیق اون صفحه رو با دامنه و مسیر یو آر ال به ما میده. من گذاشتم که تو همه صفحات باشه. که از هر جا رو اشتراک خبرنامه کلیک کردیم، بدونیم بعدش به چه صفحه ای بریم. اون یو آر آی رو میفرستم برای هوم پیج که تو حالت گت پست دوباره بره به همون صفحه ای که بود. {% endcomment %}
                                <input dir='ltr' type="email" name="email" class="form-control border-white p-3 mb-3" placeholder="test@example.com" required>
                                <button type="submit" name="newsletter_sub" class="btn d btn-primary">عضویت در خبرنامه</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div dir='rtl' class="container-fluid text-secondary py-4" style="background: #111111;">
        <div class="container text-center">
            <p class="mb-0">کلیه حقوق این سایت متعلق به
                <a class="text-primary border-bottom" href="https://htmlcodex.com" target="_blank">HTML Codex</a>
                 می باشد و توسط محمد پورمحمدی فلاح ترجمه و اصلاح شده است. هر گونه الگو برداری و ارجاع به آن <span class="text-primary">با ذکر منبع</span> بلامانع است.
            </p>
        </div>
    </div>
    <!-- Footer End -->




    <!-- Back to Top -->
    <a href="#" class="btn btn-primary border-inner py-3 fs-4 back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'lib/counterup/counterup.min.js' %}"></script>
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>

    <!-- Template Javascript -->
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'madval/js/my_functions.js' %}"></script>
</body>

</html>